<!DOCTYPE html>
<html>
<head>
  <title>Unidom Commodity</title>
  <%= stylesheet_link_tag 'unidom/commodity/application', media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'unidom/commodity/application' %>

</body>
</html>
