<!DOCTYPE html>
<html>
<head>
  <title>Commodity</title>
  <%= stylesheet_link_tag    "commodity/application", media: "all" %>
  <%= javascript_include_tag "commodity/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
